
<script>

</script>

<header class="bg-background/70 sticky border z-10 top-0 left-0 backdrop-blur">
    <h1 class="capitalize text-lg font-semibold py-3.5 px-4">
        home
    </h1>
    <div class="grid grid-cols-2 text-sm">
        <button class="text-white py-4 capitalize font-bold hover:bg-white/10">for you</button>
        <button class="text-white py-4 capitalize font-bold hover:bg-white/10">following</button>
    </div>

</header>