<script lang="ts">
	import Card from "./Card.svelte";
import SearchBar from "./SearchBar.svelte";


</script>

<div class="px-5 flex-[0.6] hidden md:inline-block border py-2 space-y-4">
    <SearchBar/>
    <Card >
        <p slot="content">this is a Card slot</p>
        <p slot="title">this is a title</p>
    </Card>
</div>