<script lang="ts">
	import { MagnifyingGlass } from "radix-icons-svelte";


</script>

<div class="rounded-md h-fit flex items-center px-2 bg-gray-800">
    <MagnifyingGlass class='h-5 w-5' />
    <input type="text" placeholder="search" class="outline-none flex-1 h-10 bg-transparent">
    
</div>