<script lang='ts'>
    import { Bell, EnvelopeClosed, Gear, Home, MagnifyingGlass, Pencil1, Reader } from 'radix-icons-svelte'
	import Button from './ui/button/button.svelte';
	import AvatarRoot from './ui/avatar/avatar.svelte';             
	import AvatarFallback from './ui/avatar/avatar-fallback.svelte';
	import AvatarImage from './ui/avatar/avatar-image.svelte';

const sidebarOptions = [
    {
        icon:Home,
        title:'home',
        href:'/'
    },{
        icon:MagnifyingGlass,
        title:'explore',
        href:'/'
    },{
        icon:Bell,
        title:'notification',
        href:'/'
    },{
        icon:EnvelopeClosed,
        title:'messages',
        href:'/'
    },{
        icon:Reader,
        title:'lists',
        href:'/'
    },{
        icon:Gear,
        title:'communities',
        href:'/'
    }
]
</script>
<div class="px-3 md:flex-[0.2] h-screen md:px-2 border flex justify-between flex-col sticky z-10 top-0 left-0">
    <div class="mt-10">
        {#each sidebarOptions as {href, icon, title}}
            <a {href} class="flex gap-[22px] p-3 w-fit rounded-full hover:bg-white/10">
                <svelte:component this={icon} class='w-7 h-7'/>
                
                <p class="text-lg capitalize hidden md:inline-block pr-5">{title}</p>
            </a>    
        {/each}
    </div>

    <Button class='md:py-6 md:w-full'>
        <Pencil1 class='md:mr-2 h-4 w-4'/> 
        <span class="hidden md:inline">Post</span>
    </Button>

    <div class="flex gap-2 items-center justify-center">
        <AvatarRoot> 
            <AvatarImage src='./x.png' alt='user'>
                <AvatarFallback>US</AvatarFallback>
            </AvatarImage>
        </AvatarRoot>
        <div class="hidden md:inline-block">
            <p class="font-medium capitalize">jeff fogarty</p>
        </div>
    </div>
</div>